@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    #contact,
    #projects {
        height: fit-content;
    }
    a {
        color: black;
        text-decoration: none;
        text-decoration-color: white;
    }
    
    a:hover {
        color: gray;
        text-decoration: underline;
        text-decoration-color: rgb(181, 181, 181);
    }
    .experience-mobile {
        display: none;
    }
    .tablinkMobile {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block;
    }
    #mobile-pic {
        display: flex;
        margin-top: 20px;
    }
    #desctop-pic {
        display: none;
    }
    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }
    .gallery {
        --s: 180px; /* control the size */
        --g: 10px;  /* control the gap */
        --f: 1.5;   /* control the scale factor */
        
        display: grid;
        gap: var(--g);
        width: calc(3*var(--s) + 2*var(--g));
        aspect-ratio: 1;
        grid-template-columns: repeat(3,auto);
    }
    .photos-detail-overlay {
        font-size: 13px;
        padding: 15px;
    }
}

@media screen and (max-width: 600px) {
    #contact, footer {
        height: 40vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    #mobile-pic {
        display: flex;
        margin-top: 20px;
        height: 310px;
    }
    #desctop-pic {
        display: none;
    }
    #experience {
        display: none;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, .contact-info-upper-container, .btn-container {
        display: block;
    }
    .details-container {
        margin: 20px
    }
    .contact-info-container {
        margin: 1rem;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
    #nav-links__mobile {
        display: flex;
    }
    #nav-links__desctop {
        display: none;
    }
}