/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(58, 58, 58);
}

/* Title */

#headline {
  display: flex;
  margin: 20px;
  justify-content: baseline;
}

h1 {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin-bottom: 50px;
  margin-top: 10px;
}

.logo {
  font-size: 2rem;
}

/* EXPLORATIONS */

#experience {
  position: relative;
}

.experience-nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  height: auto;
}

.vacation-links {
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

.vacation-links a {
  display: inline-block;
  align-items: center;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.vacation-links a:hover {
  cursor: pointer;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* photo grid */

.gallery {
  --s: 290px; /* control the size */
  --g: 10px; /* control the gap */
  --f: 1; /* control the scale factor */
  display: grid;
  gap: var(--g);
  width: calc(3 * var(--s) + 40 * var(--g));
  aspect-ratio: 1;
  grid-template-columns: repeat(4, auto);
  margin-bottom: 50px;
}

.photos-details-container {
  position: relative;
  width: 100%;
}

.experience-photos {
  display: block;
  width: 100%;
  height: auto;
}

.photos-details-container > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.35s;
}

.photos-detail-overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 15px;
  padding: 20px;
  text-align: center;
}

.photos-details-container:hover .photos-detail-overlay {
  opacity: 1;
}

.photos-details-container:hover img {
  filter: grayscale(0);
}

/* General */

hr.solid {
  margin: 5px;
  border-radius: 2px;
}

.experience-text-mobile {
  color: black;
  font-weight: 600;
  font-size: 1.25rem;
}

.experience-subtext-mobile {
  color: black;
  font-size: 1rem;
  margin-bottom: 5px;
}