/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(58, 58, 58);
}

.header_box {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.world_img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
  position: relative;
  top: 0;
  left: 0;
  margin: 20px;
  font-size: 2rem;
  text-decoration: none;
}

/* Title */

#headline {
  display: flex;
  justify-content: baseline;
}

.title {
  text-align: left;
  padding-bottom: 20px;
}

.section__text__p1 {
  text-align: center;
  padding-top: 2px
}

h1 {
  display: flex;
  justify-content: center;
  color: black;
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.logo {
  font-size: 2rem;
}

/* EXPLORATIONS */

#experience {
  position: relative;
}

.experience-nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  height: auto;
}

.vacation-links {
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

.vacation-links a {
  display: inline-block;
  align-items: center;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  margin-bottom: 50px;
  margin-top: 10px;
}

.vacation-links a:hover {
  cursor: pointer;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* photo grid */

.gallery {
  --s: 350px; /* control the size */
  --g: 10px; /* control the gap */
  display: grid;
  gap: var(--g);
  width: calc(3 * var(--s));
  grid-auto-rows: calc(var(--s)); /* Jede Zeile hat die gleiche Höhe */
  aspect-ratio: 1;
  grid-template-columns: repeat(3, auto);
  margin-bottom: 50px;
}

.photos-details-container {
  position: relative;
  width: 100%;
}

.experience-photos {
  display: block;
  width: 100%;
  height: auto;
}

.photos-details-container > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.35s;
}

.photos-detail-overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 15px;
  padding: 20px;
  text-align: center;
}

.photos-details-container:hover .photos-detail-overlay {
  opacity: 1;
}

.photos-details-container:hover img {
  filter: grayscale(0);
}

/* General */

hr.solid {
  margin-left: 16.3vh;
  margin-right: 16.3vh;
  border-radius: 2px;
}

.experience-text-mobile {
  color: black;
  font-weight: 600;
  font-size: 1.25rem;
}

.experience-subtext-mobile {
  color: black;
  font-size: 1rem;
  margin-bottom: 5px;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  text-decoration: none;
  margin: 5px;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
  color: rgb(53, 53, 53);
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.exploration_btn_container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

/* Full screen image */

.fullscreen-overlay {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

#fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}