/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  color: rgb(58, 58, 58);
}

/* TRANSITION */
a,
.btn {
  transition: all 300ms ease;
}

/* Navigation */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-decoration-color: rgb(181, 181, 181);
}

/* Wangu Pullwitt LOGO */

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

.nav_logo {
  height: 50px;
}

/* HAMBURGER MENU für Mobile */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  z-index: 1001;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

/* The Overlay (background) */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay-content a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
  padding: 8px;
}

/* ICONS */

.icon {
  cursor: default;
  height: 2rem;
}

.up-arrow {
  transform: rotate(180deg);
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  text-decoration: none;
  margin: 5px;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
  color: rgb(53, 53, 53);
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

/* SECTIONS */

section {
  position: relative;
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

.profile-pic {
  border-radius: 15rem;
}

/* Typing Animation */
.wrapper {
  margin-bottom: 2rem;
}
.animated-text {
  margin-top: 1rem;
  color: rgb(58, 58, 58);
  font-size: 1.4rem;
  font-weight: 600;
}
.animated-text span {
  position: relative;
  margin-bottom: 2rem;
}

.animated-text span::before {
  content: "";
  animation: words 20s infinite;
}

.animated-text span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: white;
  border-left: 2px solid;
  right: -8px;
  animation: cursor 0.8s infinite, typing 20s steps(26) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid white;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Hobby Programmer";
  }
  21%,
  40% {
    content: "traveller Around the World";
  }
  41%,
  60% {
    content: "Hobby Programmer";
  }
  61%,
  80% {
    content: "Traveler Around the World";
  }
  81%,
  100% {
    content: "Hobby Programmer";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  padding-top: 2px;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1.5rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
  margin: auto;
}

#mobile-pic {
  display: none;
}

.about-pic {
  border-radius: 2rem;
}

.about-title {
  margin: 1rem 0;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  justify-content: center;
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto;
}

.school {
  font-weight: 500;
}

hr.solid {
  margin: 5px;
  margin-left: 5rem;
  margin-right: 5rem;
  border-radius: 2px;
}

.education-container {
  display: block;
}

.timeline {
  list-style: none; /* Bullet Points ausblenden */
  padding: 0;
  margin: 10px;
  position: relative;
}
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #ccc;
}
.timeline li::before {
  display: block;
  background: #cacaca;
  height: 16px;
  width: 16px;
  content: "";
  position: absolute;
  left: -7px;
  top: 4px;
  border-radius: 8px;
  z-index: 10;
}
.timeline li {
  display: block;
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0 0 20px 40px;
  width: auto;
}
.timeline li::after {
  display: block;
  background: #ffffff;
  height: 36px;
  width: 36px;
  content: "";
  position: absolute;
  left: -20px;
  top: -6px;
  border-radius: 18px;
  z-index: 9;
}
.timeline li small {
  color: #b9b9b9;
}
.date {
  font-weight: bold;
}

/* PROJECTS */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.experience-sub-title {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.project-img {
  border-radius: 0rem;
  width: 100%;
  height: 100%;
}

.project-title {
  margin: 1rem;
  color: black;
}
.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

.skill-container {
  margin: 20px 0;
}
.skill-list {
  display: flex;
  list-style: none;
  padding: 0;
}
.skill-list li {
  margin: 20px 20px;
}
.skill-list li small {
  color: #b9b9b9;
  padding: 0 10px;
}
.skill-bar {
  display: flex;
  justify-content: space-between;
}
progress {
  accent-color: #b9b9b9;
}

/* EXPLORATIONS */

#experience {
  position: relative;
}

.experience-nav {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  height: auto;
  margin-bottom: 2vh;
}

.vacation-links {
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

.vacation-links a {
  display: inline-block;
  align-items: center;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.vacation-links a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: rgb(181, 181, 181);
  /*text-underline-offset: 1rem;*/
}

.tab-link.active {
  text-decoration: underline;
  text-decoration-color: rgb(181, 181, 181);
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* photo grid */

/* Hide all Taps by default except USA */
#hongkong,
#vietnam,
#borneo,
#thailand,
#barcelona,
#austria,
#usa {
  display: none;
}

.gallery {
  --s: 250px; /* control the size */
  --g: 5px; /* control the gap */
  --f: 1.5; /* control the scale factor */
  display: grid;
  gap: var(--g);
  width: calc(3 * var(--s) + 2 * var(--g));
  aspect-ratio: 1;
  grid-template-columns: repeat(3, auto);
}

.photos-details-container {
  position: relative;
  width: 100%;
}

.experience-photos {
  display: block;
  width: 100%;
  height: auto;
}

.photos-details-container > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale();
  transition: 0.35s;
}

.photos-detail-overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 15px;
  padding: 20px;
  text-align: center;
}

.photos-details-container:hover .photos-detail-overlay {
  opacity: 1;
}

.photos-details-container:hover img {
  filter: grayscale(0);
}

.exploration_btn_container {
  display: flex;
  justify-content: center;
  margin: 30px;
}
* {
  box-sizing: border-box;
}

/* New Explorations */

#experience-cards {
  margin: 0;
  display: block;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.carousel {
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 400px;
  display: flex;
  overflow: visible;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  position: relative;
  flex: 0 0 100%;
  height: 100%;
  opacity: 0.5;
  transform: scale(0.9);
  transition: opacity 0.5s, transform 0.5s;
}

.carousel-item.active {
  opacity: 1;
  transform: scale(1);
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.carousel-item .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}

.carousel-item .button {
  background: #b9b9b92d;
  color: white;
  border: solid;
  border-color: #b9b9b9;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.carousel-item .button:hover {
  background: #b9b9b9;
  color: black;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-controls button {
  background-color: transparent;
  border: none;
  color: white; 
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
}

.carousel-controls button:hover {
  background: #b9b9b92d;
}

#prev {
  border-radius: 0 5px 5px 0;
}
#next {
  border-radius: 5px 0 0 5px;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-upper-container {
  display: flex;
  justify-content: space-between;
  /* border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250); */
  gap: 4rem;
  margin: 4rem auto;
  padding: 0.5rem;
  width: 100%;
}

/* social media buttons */

.contact-info-upper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  width: 100%; /* Eventuell löschen */
}

.circle-link-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  margin: 2rem;
}

.contact-info-container p {
  font-size: larger;
  margin: 0;
}

.contact-icon {
  cursor: default;
}

.circle-link {
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #000;
  padding: 20px;
}

.circle-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 110%;
  height: auto;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

#nav-links__mobile {
  display: none;
}

/* Full screen image */

.fullscreen-overlay {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

#fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
